.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.vscode/
README.html
/README_files/*
*trial_code*
/vignettes/articles/
!/vignettes/articles/*.Rmd
!/vignettes/articles/*.pdf
docs
trash.R
inst/stan/**
!inst/stan/**/*.*
inst/stan/**/*.exe
inst/stan/**/*.EXE
