.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.vscode/
README.html
/README_files/*
*trial_code*
/vignettes/articles/
!/vignettes/articles/*.Rmd
!/vignettes/articles/*.pdf
docs
inst/cmdstan/*
!inst/cmdstan/*_resid.stan
trash.R
